<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/vars.css" />
        <link rel="stylesheet" href="/stylesheets/god_working.css" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/images/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="images/favicon-16x16.png"
        />
        <link rel="manifest" href="images/site.webmanifest" />
        <link
            rel="mask-icon"
            href="images/safari-pinned-tab.svg"
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <title>ephemeral <3</title>
    </head>
    <body>
        <div class="container">
            <div class="hero-container">
                <div class="hero">
                    <div class="hero-text" id="hero-text">
                        <a href="/">ephemeral heart</a>
                    </div>
                </div>
            </div>
            <div class="info-container">
                <div class="info-wrap span-2">
                    <div class="info">
                        <h1>ABOUT</h1>
                        <p>
                            I miss the days of anonymous communication on the
                            internet. A time where you didn't have to sign up
                            for an account, verify your email, or sign over your
                            personal information.
                        </p>
                        <p>
                            In the coming years, the advent of AI may reduce the
                            internet to an autonomous cyber echo chamber. It
                            will be bots talking to bots, swapping this and that
                            back and forth, flipping the same bits over and over
                            again. A perfect lifeless and soulless social
                            replica. Unwavering and cold. Choreographed. Every
                            byte accounted for.
                        </p>
                        <p>
                            Its time to inject ourselves back into the fibre
                            optic cables. To pollute the machine.
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-container">
                <div class="hii">made by sasha</div>
                <div>2023</div>
                <div class="about-link"><a href="/about">about</a></div>
            </div>
        </div>
    </body>
</html>
