<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/vars.css" />
        <link rel="stylesheet" href="/stylesheets/god_working.css" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/images/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="images/favicon-16x16.png"
        />
        <link rel="manifest" href="images/site.webmanifest" />
        <link
            rel="mask-icon"
            href="images/safari-pinned-tab.svg"
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <title>ephemeral <3</title>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js"
            integrity="sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"
            integrity="sha512-WFeBxQtM/n6U8/Nd0Hz/Hq7n75NImbzM7Kc0y/4kE0kHnH1Be+nzm32RwbGoDsW1D9fjjPvI8LIWxLrZhxew/w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
    </head>
    <body>
        <div class="container">
            <div class="hero-container">
                <div class="hero">
                    <div class="hero-text" id="hero-text">
                        <a href="/">ephemeral heart</a>
                    </div>
                </div>
            </div>

            <div class="begin-container">
                <form class="form">
                    <a href="/getInterstitial">
                        <input type="button" value="Begin" id="getPostBtn" />
                    </a>
                </form>
            </div>

            <div class="info-container">
                <div class="info-wrap">
                    <div class="info">
                        <h1>what is this?</h1>
                        <p>
                            An anonymous message-sharing site for strangers. A
                            bit like an online bathroom stall covered in
                            graffiti, but more sanitary.
                        </p>
                        <p>Leave a message. Come say hi to someone.</p>
                    </div>
                </div>
                <div class="info-wrap">
                    <div class="info">
                        <h1>how does it work?</h1>
                        <p>
                            When you click 'Begin', you will receive a random
                            message a stranger has submitted. Once you read it,
                            you will decide whether to burn it (permanently
                            delete it), or pass it (keep it, and allow someone
                            else to read it). Afterwards, you submit your own
                            message.
                        </p>
                    </div>
                </div>
                <div class="info-wrap span-2">
                    <div class="info">
                        <h1>burn or pass?</h1>
                        <p>
                            It's up to you. There are no rules. Maybe consider
                            the following though:
                        </p>
                        <ul>
                            <li>Did the message do something for you?</li>
                            <li>
                                Do you think someone else would benefit from
                                seeing it?
                            </li>
                            <li>Should anyone else see it?</li>
                            <li>Did it fulfill its purpose?</li>
                        </ul>
                        <br />
                        <br />
                        <!-- <form class="form">
                            <a href="/getInterstitial">
                                <input
                                    type="button"
                                    value="Begin"
                                    id="getPostBtn"
                                />
                            </a>
                        </form> -->
                        <br />
                    </div>
                </div>
            </div>
            <div class="footer-container">
                <div class="hii">made by sasha</div>
                <div>2023</div>
                <div><a href="/about">about</a></div>
            </div>
        </div>
        <script defer>
            gsap.registerPlugin(ScrollToPlugin);
            let tl = gsap.timeline();

            let anim = tl
                .to(window, { scrollTo: 0 })
                .from(".hero", {
                    ease: "power3.inOut",
                    "clip-path": "polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%)",
                    duration: 2,
                })
                .from(".hero-container", {
                    marginTop: "10rem",
                    ease: "power3.inOut",
                    duration: 1.5,
                })
                .from(
                    ".info-container",
                    {
                        "clip-path":
                            "polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%)",
                        ease: "power3.inOut",
                        duration: 2,
                        opacity: 0,
                        y: 100,
                    },
                    "-=1.25"
                )
                .from(
                    ".begin-container, .footer-container",
                    {
                        opacity: 0,
                        duration: 2,
                        ease: "power3.inOut",
                    },
                    "-=1.25"
                );

            anim.play();

            // Let user skip animation by clicking the page
            const skipAnim = document.getElementsByTagName("body");
            skipAnim[0].addEventListener("click", () => {
                anim.timeScale(5);
            });
        </script>
    </body>
</html>
