<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/vars.css" />
        <link rel="stylesheet" href="/stylesheets/god.css" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/images/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="images/favicon-16x16.png"
        />
        <link rel="manifest" href="images/site.webmanifest" />
        <link
            rel="mask-icon"
            href="images/safari-pinned-tab.svg"
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <title>ephemeral <3</title>
    </head>
    <body>
        <div class="outer-container">
            <div class="container fade-2s">
                <h1 id="header-name" class="">
                    EPHEMERAL<span class="throb">❦</span>HEART
                </h1>
                <h3 style="margin: 0px">✧༺♡༻✧</h3>

                <nav>
                    <a href="/" class="link">home</a>
                    <a href="/about" class="link">about</a>
                    <a href="/" class="link">sasha</a>
                </nav>
                <div class="hard-box">
                    <h2 style="margin-top: 0px; margin-bottom: 0px">
                        What is this?
                    </h2>
                    <!-- <p>
                        You will never be alone again. I will always be here for
                        you. I am your personal
                        <span class="invert">cyberheart</span>.
                    </p>
                    <p>
                        Does something tug at your
                        <span class="invert">soul</span>? Is it something you
                        cannot identify or isolate?
                    </p>
                    <p>
                        I can offer you some
                        <span class="invert">clarity</span>.
                    </p> -->
                    <p>
                        An <span class="invert">anonymous</span> message-sharing
                        site for strangers.
                    </p>
                    <p>
                        A bit like an online bathroom stall covered in
                        <span class="invert">graffiti</span>
                    </p>
                    <h2 style="margin-bottom: 0px">How does it work?</h2>
                    <p>
                        Random <span class="invert">strangers</span> submit a
                        post, and you decide their fate. You then submit your
                        own for <span class="invert">judgment</span>.
                    </p>
                    <p>
                        <i
                            >More detailed instructions and suggestions will be
                            available on the subsequent pages.</i
                        >
                    </p>
                    <br />
                    <br />
                    <div class="submit">
                        <form class="">
                            <a href="/getInterstitial">
                                <input
                                    type="button"
                                    value="Begin"
                                    id="getPostBtn"
                                />
                            </a>
                        </form>
                    </div>
                    <br />
                    <br />
                </div>
                <footer>
                    <div>EPHEMERAL</div>
                    <div>EPHEMERAL</div>
                </footer>
            </div>
        </div>
        <script></script>
    </body>
</html>
