<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/vars.css" />
        <link rel="stylesheet" href="/stylesheets/god.css" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/images/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="images/favicon-16x16.png"
        />
        <link rel="manifest" href="images/site.webmanifest" />
        <link
            rel="mask-icon"
            href="images/safari-pinned-tab.svg"
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <title>ephemeral <3</title>
    </head>
    <body>
        <div class="outer-container">
            <div class="container fade-2s">
                <h1 id="header-name" class="">
                    EPHEMERAL<span class="throb">❦</span>HEART
                </h1>
                <h3 style="margin: 0px">✧༺♡༻✧</h3>

                <nav>
                    <a href="/" class="link">home</a>
                    <a href="/about" class="link">about</a>
                    <a href="/" class="link">sasha</a>
                </nav>
                <div class="hard-box">
                    <h2 style="margin-top: 0px; margin-bottom: 0px">
                        Token Error
                    </h2>
                    <p>
                        There's an error with your token. You either took too
                        long on a step and it expired, or you've posted too much
                        for today. Try coming back tomorrow once your limit
                        expires.
                    </p>
                    <p>
                        It looks like you were about to submit a message, too.
                        Don't worry, we've got you. A copy of it is below if you
                        want to retry posting, or save it for later.
                    </p>
                    <hr />
                    <p>
                        <code> <%= userMessage %> </code>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
