<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/vars.css" />
        <link rel="stylesheet" href="/stylesheets/god_working.css" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/images/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="images/favicon-16x16.png"
        />
        <link rel="manifest" href="images/site.webmanifest" />
        <link
            rel="mask-icon"
            href="images/safari-pinned-tab.svg"
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
        <title>ephemeral <3</title>
    </head>
    <body>
        <div class="container">
            <div class="hero-container">
                <div class="hero">
                    <div class="hero-text" id="hero-text">
                        <a href="/">ephemeral heart</a>
                    </div>
                </div>
            </div>
            <div class="info-container">
                <div class="info-wrap span-2">
                    <div class="info">
                        <h1>YOUR MESSAGE</h1>
                    </div>
                </div>
                <div class="info-wrap span-2">
                    <div class="info">
                        <div class="long-word-container"><%= postText %></div>
                    </div>
                </div>
                <div class="info-wrap span-2">
                    <div class="info">
                        <p>
                            This message has been passed and read by
                            <span class="invert"><%= passes %></span>
                            other <% if(passes == 1) { %> person<% } else { %>
                            people<% } %>. Will you
                            <span class="invert">pass it</span>, and allow
                            someone else to read it? Or will you
                            <span class="invert">burn it</span>, and permanently
                            erase it?
                        </p>
                        <form action="/submitMessage" method="POST">
                            <div class="tribunal-form">
                                <label for="pass">Pass: &emsp;</label>
                                <input
                                    type="radio"
                                    name="PB"
                                    id="pass"
                                    value="Pass"
                                    required
                                />
                                <div style="width: 40px"></div>
                                <label for="burn">Burn: &emsp;</label>
                                <input
                                    type="radio"
                                    name="PB"
                                    id="burn"
                                    value="Burn"
                                />
                                <input
                                    type="hidden"
                                    name="token"
                                    id="token"
                                    value="<%= token %>"
                                />
                            </div>
                            <br />
                            <div class="submit">
                                <input type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="info-wrap span-2">
                    <div class="info">
                        <h1 class="red">Abuse</h1>
                        <p>
                            <i>
                                There is a
                                <span>zero-tolerance policy</span> regarding
                                hateful speech and spam. Failure to follow this
                                will result in a permanent ban. There are no ban
                                appeals.
                            </i>
                        </p>
                        <p>
                            <i> Please be normal. Thanks. </i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
