<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/vars.css" />
        <link rel="stylesheet" href="/stylesheets/vars.css" />
        <link rel="stylesheet" href="/stylesheets/god.css" />
        <title>Document</title>
    </head>
    <body>
        <p>This is the post below:</p>
        <b> <%= postText %> </b>
        <p>it's been read <%= passes %> times...</p>
        <p>u finna fuck it up?</p>
        <form action="/submitMessage" method="POST">
            <label for="pass">Pass</label>
            <input
                type="radio"
                name="PB"
                id="pass"
                value="Pass"
                required
            /><br />
            <label for="burn">Burn</label>
            <input type="radio" name="PB" id="burn" value="Burn" />
            <input type="hidden" name="token" id="token" value="<%= token %>" />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
