@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quando&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: var(--dark-main-bg);
    color: var(--dark-main-fg-white);
    margin: 0px;
    padding: 0px;
}

.blue {
    color: var(--dark-main-fg-blue);
    background-color: var(--dark-main-fg-white);
}

.red {
    color: var(--dark-main-fg-red);
    background-color: var(--dark-main-fg-white);
}

.invert {
    color: var(--dark-main-bg);
    background-color: var(--dark-main-fg-white);
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="radio"] {
    font: inherit;
    color: var(--dark-main-fg-white);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--dark-main-fg-white);
    border-radius: 50%;
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--dark-main-fg-white);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="button"],
input[type="submit"] {
    text-decoration: none;
    background-color: var(--dark-main-fg-white);
    color: var(--dark-main-bg);
    border: 1px solid var(--dark-main-bg);
    border-radius: 0px;
    padding: 12px 24px;
    font-size: 32px;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: var(--dark-main-bg);
    color: var(--dark-main-fg-white);
    cursor: pointer;
    border: 1px solid var(--dark-main-fg-white);
}

.outer-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95vw;
}

.hard-box {
    padding: 10px;
    /* margin: 8px; */
    /* border: 1px solid var(--dark-main-fg-white); */
    width: 100%;
}

#header-name,
input {
    font-family: "Gloock";
    margin-bottom: 0px;
}

h2 {
    background-color: var(--dark-main-fg-white);
    color: var(--dark-main-bg);
    font-style: italic;
    font-family: "Gloock";
}

h2 {
    font-size: 1.75rem;
    padding: 10px;
}

h3 {
    font-size: 1.2rem;
    padding: 5px;
    font-family: "Gloock";
}

p {
    font-family: "Quando";
    font-size: 1rem;
    padding: 10px;
    margin: 5px;
}

a.link {
    text-decoration: none;
    color: var(--dark-main-fg-white);
    font-family: "Gloock";
    padding: 5px;
}

a:hover.link {
    color: var(--dark-main-bg);
    background-color: var(--dark-main-fg-white);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    cursor: pointer;
    margin: 10px;
}

footer {
    width: 100%;
    font-family: "Gloock";
    font-size: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    font-family: "Gloock";
}

textarea {
    font-family: monospace;
    width: 100%;
    font-size: 16px;
    color: var(--dark-main-fg-white);
    background-color: var(--dark-main-bg);
}

.fade-2s {
    animation: fadeIn ease-in-out 2s;
    -webkit-animation: fadeIn ease-in-out 2s;
}

.blue-text {
    color: var(--dark-main-fg-blue);
}

.throb {
    animation: throb ease-in-out 20s;
    -webkit-animation: throb ease-in-out 20s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

.tribunal-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
@keyframes throb {
    0% {
        color: var(--dark-main-fg-white);
    }
    33% {
        color: var(--dark-main-bg);
    }
    66% {
        color: var(--dark-main-bg);
    }
    100% {
        color: var(--dark-main-fg-white);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        width: 60vw;
    }
    #header-name {
        font-size: 6vw;
    }
    nav {
        width: 30%;
    }
}

.submit {
    display: flex;
    justify-content: center;
}
