:root {
    --dark-main-bg: #140e0e;
    --dark-main-fg-white: #f5efed;
    --dark-main-fg-blue: #1c4b5e;
    --dark-main-fg-yellow: #bdbf09;
    --dark-main-fg-orange: #d96c06;
    --dark-main-fg-red: #ac0707;
}
